<div class="featured_collection_heading" style="display:none;">
  {% if article.metafields.custom.featured_collection_heading != blank %}
    <h1>{{ article.metafields.custom.featured_collection_heading }}</h1>
  {% else %}
  <h1>{{ section.settings.vertical_heading_sec }}</h1>
  {% endif %}
</div>
<section id="scroll_section" class="vertical_main_sec" data-section-id="{{ section.id }}" data-section-type="vertical-slideshow">
      <div class="image_text_section">
    {%- assign metacollection = collections[article.metafields.custom.featured_collection] -%}

   {%- if section.settings.show_view_all and section.settings.swipe_on_mobile and more_in_collection -%}
   <a href="{{ metacollection.url }}" class="link underlined-link large-up-hide">{{ 'sections.featured_collection.view_all' | t }}</a>
   {%- endif -%}
   <div class="cust-main-collection">
      {% for product in metacollection.products limit: 20 %}
      {% if product.featured_image != blank %}
        
      <div product-title="{{ product.handle }}" class="cutt-cal-img {{ product.title | handle }}">
         <a href="{{ product.url }}" class="full-unstyled-link">
            <img src="{{ product.featured_image | img_url : "master" }}">
           <div class="collection_info_main_sec">
            <div class="cust-cole-cotn">
               <h3>{{ product.title | escape }}</h3>
            </div>
           <div class="cust-porduct-price">
               <h5>
               {% if product.compare_at_price > product.price %}
               {% if product.price_varies %}
               {%- assign sale_price = product.price | money -%}
               
               {% else %}
              
               {{ product.price | money }}
               {% endif %}
               {% else %}
               {% if product.price_varies %}
               {%- assign price = product.price | money -%}
               {{ 'products.product.from_text_html' | t: price: price }}
               {% else %}
               {{ product.price | money }}
               {% endif %}
               {% endif %}
               </h5>
            </div>
          {% capture "form_classes" -%}
            product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}{% if section.settings.enable_payment_button and product.has_only_default_variant%} product-form--payment-button-no-variants{% endif %}
          {%- endcapture %}

          {% form 'product', product, class:form_classes, style:"display:block" %}
            {% unless product.has_only_default_variant %}
              {% for option in product.options_with_values %}
                <div class="selector-wrapper js product-form__item">
                    {% for value in option.values %}
                      {% if option.name contains "Color" %}
                        {% for variant in product.variants %}
                          {%- assign display = "block" -%}
                          {% if variant.image and variant.title contains value%}
                            {%- assign img = variant.image | img_url: "large" -%}
                            {%- assign display = "none" -%}
                          {% endif %}
                        {% endfor %}
                      	<span vproduct-title="{{ product.handle }}" variant-img="{{img}}"  onclick="colorSwatchHandler('{{value}}');" style="background-image:url({{img}});width:20px;height:20px;display:inline-block;background-position:center;" class="color-swatch {% if option.selected_value == value %} variant-active{% endif %}" title="{{value}}"></span>
                      {% endif %}
                    {% endfor %}
                </div>
              {% endfor %}
            {% endunless %}
            <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
                {% if variant.available %}

                  <option class="{{variant.image}}" {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
              {% endfor %}
            </select>
          {% endform %}


             
           </div>
         </a>
      </div>
      {% endif %}
      {% endfor %}
 
</div> 
  </div>
</section>
{% schema %}
{
  "name": "Custom Collection",
  "settings": [
    {
      "id": "vertical_heading_sec",
      "type": "text",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "select",
      "name": "Slide Text",
      "settings": [
        {
          "id": "slideText",
          "type": "textarea",
          "label": "Slide Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Collection",
      "category": "Custom"
    }
  ]
}
{% endschema %}
