<div>
  <div class="image-looper mobile" data-section-id="{{ section.id }}" data-section-type="image-looper" style="background-position-y: 0; background-image: url({{ section.settings.background | img_url: 'master' }});">
    <h1>{{section.settings.header}}</h1>
  </div>
  <div class="image-looper desktop" data-section-id="{{ section.id }}" data-section-type="image-looper" style="background-position-y: 0; background-image: url({{ section.settings.backgroundDesktop | img_url: 'master' }});">
    <h1>{{section.settings.header}}</h1>
  </div>
</div>
{% schema %}
  {
    "name": "Image Looper",
    "settings": [
      {
        "id": "header",
        "type": "text",
        "label": "Header",
        "default": "Title"
      },
      {
        "type": "image_picker",
        "id": "background",
        "label": "Background Image Mobile"
      }, 
      {
        "type": "image_picker",
        "id": "backgroundDesktop",
        "label": "Background Image Desktop"
      }
    ],
    "presets": [
      {
        "name": "Image Looper",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
